<div class="container">
  <form action="" [formGroup]="formCadastro" (submit)="salvar($event)">
    <label for="">Titulo</label>
    <input type="text" name="titulo" formControlName="titulo" [(ngModel)]="foto.titulo">

    <label for="">URL (da imagem)</label>
    <input type="text" name="url" formControlName="url" [(ngModel)]="foto.url">
    <!--two way binding - [] ou {{}} model -> view e () view -> model -->

    <label for="">Descrição</label>
    <textarea class="materialize-textarea" name="descricao" formControlName="descricao"  [(ngModel)]="foto.descricao" id="" cols="30" rows="10"></textarea>

    <button type="submit" class="waves-effect waves-light btn">Enviar</button>
    <a [routerLink]="['']" class="waves-effect waves-light btn">Voltar</a>
  </form>

</div>
