<!--<div class="panel panel-default">
<div class="panel-heading">
    <h3 class="panel-title text-center">{{titulo}}</h3>
</div>
<div class="panel-body">
</div>
    <ng-content></ng-content>
</div>-->
<div class="card hoverable">
<div class="card-image">
    <ng-content></ng-content>
</div>
<div class="card-content">
    <span class="card-title">{{ titulo }}</span>
    <p>I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively.</p> <!-- {{descricao fazer alterações}} -->
 </div>
<div class="card-action">
</div>
</div>